<div *ngIf="jugador" class="detail-container">
  <h2>{{ jugador.nombre }} {{ jugador.apellidos }}</h2>
  <img [src]="jugador.foto" alt="{{ jugador.nombre }}" class="jugador-imagen">
  <p><strong>Equipo:</strong> {{ jugador.equipo }}</p>
  <p><strong>Posición:</strong> {{ jugador.posicion }}</p>
  <p><strong>Edad:</strong> {{ jugador.edad }} años</p>
  <p><strong>Altura:</strong> {{ jugador.altura }}</p>
  <br>
  <app-media *ngIf="jugador.youtube" [youtubeUrl]="jugador.youtube"></app-media>
</div>
