.players-container {
    text-align: center;
  }
  
  .search-bar {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .player-list {
    list-style: none;
    padding: 0;
  }
  
  .player-list li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .jugador-imagen {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  