iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: .5em;
  display: block;
}
.media-container {
  height: auto;
  width: 100%;
  max-width: 12em;
  margin: 0 auto;
  border-radius: .5em;
}
